// Variables
$backColor: rgba(244, 66, 66, 0.6);
$playerColor: rgb(65, 86, 244);

$boardWidth: 100%;
$boardHeight: 100vh;

body {
	margin: 0;
}

#board {
	position: relative;
	background-image: url('img/background-image.png');
	background-attachment: fixed;
	background-position: left;
	background-repeat: no-repeat;
	background-size: auto;
	width: $boardWidth;
	height: $boardHeight;
	overflow: hidden;

	#score {
		position: absolute;
		background: rgba(255, 0, 0, 0.8);
		text-align: center;
		padding: 10px 5px;
		width: 100px;
		color: #fff;
	}

	#player {
		background-image: url('img/player.gif');
		height: 256px;
		width: 256px;
	}
}
